[user]
	name = Ian Clayman
	email = claymani@seas.upenn.edu
[color]
	ui = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
